# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @niket-intc @Ram-srini @ipsita-npg @SushilLakra @rranjan3 @cjnolan @damiankopyto @soniabha-intc @sunil-parida @krishnajs @jkossak

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @niket-intc @Ram-srini @ipsita-npg @SushilLakra @rranjan3 @cjnolan @damiankopyto @soniabha-intc @sunil-parida @krishnajs @jkossak
